.navbar {
	padding: 0.5rem 0;
}

.media-img {
	max-width: 150px;
}

.stars {
	width: 125px;
}

.breadcrumb {
	background-color: #fff;
	margin: 0 -1rem;
}

img,
.img {
	max-width: 100%;
}

/* avatar */

.avatar {
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	height: 50px;
}

.avatar-frame {
	display: inline-block;
	width: 100%;
	height: 0;
	padding: 50% 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 4px;
}

.avatar img {
	max-width: 100%;
	max-height: 100%;
	border-radius: 4px;
}

.avatar-empty {
	border: 1px dashed #d1d8dd;
	border-radius: 4px;
}

.avatar-small {
	margin-right: 5px;
	width: 24px;
	height: 24px;
}

.avatar-small .standard-image {
	font-size: 14px;
}

.avatar-small .avatar-frame {
	border-radius: 3px;
}

.avatar-medium {
	margin-right: 5px;
	width: 36px;
	height: 36px;
}

.avatar-medium .standard-image {
	font-size: 18px;
}

.avatar-large {
	margin-right: 10px;
	width: 72px;
	height: 72px;
}

.avatar-large .standard-image {
	font-size: 36px;
}

.avatar-xl {
	margin-right: 10px;
	width: 108px;
	height: 108px;
}

.avatar-xl .standard-image {
	font-size: 72px;
}

.avatar-xs {
	margin-right: 3px;
	margin-top: -2px;
	width: 17px;
	height: 17px;
	border: none;
	border-radius: 3px;
}

.avatar-xs .standard-image {
	font-size: 9px;
}

.avatar-text {
	display: inline;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
}

.standard-image {
	width: 100%;
	height: 0;
	padding: 50% 0;
	display: inline-block;
	text-align: center;
	border-radius: 4px;
	font-size: 14px;
	line-height: 0;
	color: #d1d8dd;
	border: 1px solid #d1d8dd;
	font-weight: normal;
	margin-top: -1px;
}

/* comments */

.comment-header {
	border-bottom: 1px solid #ebeff2;
	padding: 30px 0 15px;
}

.comment-row {
	margin: 0 -15px;
	padding: 15px;
}

.pull-right {
	float: right;
}

.inline-block {
    display: inline-block;
}

.comment-row h6 {
	font-size: 0.75rem;
}

.hidden {
	display:none;
}
