@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	font-family: 'Open Sans', sans-serif;
    font-size: 15px;
	color: #161c23;
	text-rendering: optimizeLegibility !important;
	line-height: 1.5em;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

section {
	padding: 10px 0px;
}

section:last-child {
	padding-bottom: 60px;
}

section p, section li, section .media-body {
	font-size: 16px;
	line-height: 1.8em;
}

.page_content {
	font-size: 16px;
	line-height: 1.8em;
}

.page_content li {
	margin: 10px 0px;
}

h1 {
	font-size: 32px;
}

h1, h2, h3, h4 {
	font-weight: 600;
}

.container {
	max-width: 870px;
}

.navbar-icon {
	width: 25px;
	height: 25px;
	margin-right: 10px;
	margin-top: -5px;
}

.page_content {
	min-height: 400px;
}

.green-btn, .btn-primary {
	text-decoration: none;
	color: #fff;
	padding: 5px 10px;
	background: #458a49;
	border-radius: 3px;
	border: 0px;
}

.btn-primary, .btn-primary:visited, .btn-primary:active, .btn-primary:focus {
	background: #458a49;
}

.label {
	background-color: #d9f7dc;
	font-size: 14px;
	padding: 5px 10px;
	margin-right: 10px;
}

.green-btn {
	font-size: 14px;
}

.green-btn:hover, .btn-primary:hover, .btn-primary:focus {
	background: #41af47;
	color: #fff;
	text-decoration: none;
}

.web-footer {
	padding-top: 0px;
}

.footer-bottom-line .text-muted {
	font-size: 14px;
	color: #161c23 !important;
}

.row-full{
	width: 100vw;
	position: relative;
	margin-left: -50vw;
	height: 400px;
	margin-top: 0px;
	left: 50%;
}

.with-border {
	border: 1px solid #161c23;
	border-radius: 3px;
	padding: 15px;
	margin-bottom: 30px;
}

.with-border h3 {
	margin-top: 0px;
}

a:hover {
	background-color: #fffdaf;
}

.with-border.clickable:hover {
	border-color: #458a49;
	background-color: #d9f7dc;
	background-color: #fffdaf;

}

.with-border a, .with-border a:hover {
	text-decoration: none;
}

.web-footer {
	background-color: #d9f7dc;
	border-top: 4px solid #458a49;
	padding-bottom: 0px;
	padding-top: 20px;
}

@media (max-width: 767px) {
	.web-footer {
		padding-left: 15px;
	}
}

.navbar-default {
	border-bottom: 4px solid #458a49;
}

.footer-group-label, .navbar-brand {
	color: #161c23 !important;
}

.web-footer .col-sm-6:first-child {
	width: 60%;
}

.web-footer .col-sm-6:last-child {
	width: 40%;
}

/*#website-post-login {
	display: none !important;
}
*/
.silver-member {
	padding: 0px 15px;
}

.page-breadcrumbs .breadcrumb {
	margin-bottom: 10px;
	font-size: 16px;
	/*color: #8D99A6;*/
}